.cache/
build/
.idea/
.DS_Store
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
*.o
*.obj
*.exe
*.out
*.log
main
.cmake/
.ninja_deps
.ninja_log
build.ninja
DS_Store
perf*
compile_commands.json
